<!DOCTYPE html>
<html>
  <body>
  {% extends "layout.html" %}
  {% block content %}
  <div class="about">
  <!-- ABOUT -->
  <div id="about" class="content-section">
    <div class="container">
      <ddiv class="row">
        <div class="col-sm-8 col-lg-7">
          <h1>ABOUT</h1>
          <p class="lead">Things I Like To Do and Don't:</p>
          <p><strong>DO #1: </strong> I like to play games.</p>
          <p><strong>Do #2: </strong> I like to eat at Wild Wings.</p>
          <p><strong>Do #3: </strong> I like to be in school. </p>
          <p><strong>Don't #1: </strong> Don't like to study. .</p>
          <p><strong>Don't #2: </strong> Don't like horror games.</p>
          <p><strong>Don't #3: </strong> Don't like to be in class. <strong>( Only like studying online or alone) </strong> .</p>
          <p class="lead">My Strengths And Weaknesses:</p>
          <p><strong> Strengths:</strong></p>
          <p> - I am a teamplayer.</p>
          <p> - I am a follower.</p>
          <p> - No negativity.</p>
          <p> - I give supoort to cause.</p>
          <p><strong> Weaknesses:</strong></p>
          <p> - Criticism makes me unmotivated.</p>
          <p> - Weak Start-up.</p>
          <p> - Lack of patience.</p>
          <p> - Bad listening skills.</p>
         </div>
           </ddiv>
     </div>
   </div>


  </div>
  {% endblock %}
  </body>
</html>
