<!DOCTYPE html>
<html>
  <body>
  {% extends "layout.html" %}
  {% block content %}
  <div class="contact">
  <!-- CONTACT -->
  <div id="contact" class="content-section">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <h1>CONTACT</h1>
          <div class="social-cont">
            <div class="row">
              <div class="col-sm-12">
                <a class="btn btn-default btn-lg fcc-btn" href="https://www.freecodecamp.org/fmartinez765" role="button" target="_blank"><i class="fa fa-fire"></i><span>freeCodeCamp</span></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  {% endblock %}
  </body>
</html>
