<!DOCTYPE html>
<html>
  <body>
  {% extends "layout.html" %}
  {% block content %}
  <div class="home">
    <!-- hitwebcounter Code START -->
    <a href="http://www.hitwebcounter.com" target="_blank">
    <img src="http://hitwebcounter.com/counter/counter.php?page=6780997&style=0010&nbdigits=5&type=ip&initCount=0" title="webs counters" Alt="webs counters"   border="0" >
    </a>                                        <br/>
                                            <!-- hitwebcounter.com --><a href="http://www.hitwebcounter.com" title="Total Count"
                                            target="_blank" style="font-family: sans-serif, Arial, Helvetica;
                                            font-size: 9px; color: #6D6C72; text-decoration: none ;"><strong>Total Count                                        </strong>
                                            </a>
                                  
  <!-- HOME -->

  <div id="home" class="content-section">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <h1>JOURNEY</h1>
          <h5>The Great Achievements Of Francisco Martinez</h5>
        </div>
      </div>
    </div>
  </div>
  </div>
  {% endblock %}
  </body>
</html>
