<!DOCTYPE html>
<html>
  <head>
    <title>Flask App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='FM_Portfolio.css')
                                  }}">
  <body>
    <header>
      <div class="container">
        <h1 class="logo">Francisco's Web Application</h1>
        <strong><nav>
          <!-- hitwebcounter Code START -->
          <ul class="menu">
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="{{ url_for('about') }}">About</a></li>
            <li><a href="{{ url_for('portfolio')}}">Portfolio</a></li>
            <li><a href="{{ url_for('contact')}}">Contact</a></li>
          </ul>
        </nav></strong>
      </div>
    </header>
    <div class="container">
      {% block content %}
      {% endblock %}
    </div>
  </body>
</html>
