<!DOCTYPE html>
<html>
  <body>
  {% extends "layout.html" %}
  {% block content %}
  <div class="portfolio">
  <!-- PORTFOLIO -->
  <div id="portfolio" class="content-section">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <h1>PORTFOLIO</h1>
          <p class="lead">Below you will find some top secret projects</p>
        </div>
        <div class="col-sm-6 col-md-4">
          <div class="thumbnail">
            <img src="https://i.ytimg.com/vi/WoGDPwkAkaQ/hqdefault.jpg" alt="Project Dummy">
            <div class="caption">
              <h4>Secret Project #1</h4>
              <p>The first secret hasn't begun yet</p>
            </div>
          </div>
        </div>
        </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  {% endblock %}
  </body>
</html>
